:root{
    --bg-col :#AAA;
	--menu-col :#444;/*#05bdff; */
	--sub-menu-col:#70d9ff;
	--electric-blue:#05bdff;
	--deep-blue:#00A;

}

body
{
	background-color: var(--bg-col);
}

.container {
	padding:0px 0px 0px 0px;
}


/*********************HEADER*********************/
header {
	position:fixed;
    height:8vh;
    width:100%;
    z-index:1;
}

header>div{
	display:flex;
	flex-wrap:nowrap;
		/* border:1px solid black; */
	align-items:center;
    justify-content:space-between;
	background-color: var(--menu-col);
}

header>div>div {
	flex:1;
	/* display:inline-block; */
	/* border:1px solid black; */
	text-align: center;
	/* height:100%; */
	/* height:8%; */
	margin-right:20vw;
}

header>div>div>img {
	height : 5vh;
	width:auto;
    margin-top: 10px;
    margin-bottom : 10px;
}

#menu-btn {
    /* display:inline-block; */
	border:none;
	/* border-radius: 10px; */
	height:6vh;
    width:6vh;
	margin:2% 2% 2% 2%;
	background-color: var(--menu-col);
    /* border:1px solid black; */
}
/*********************END HEADER*********************/



/*********************MENU*********************/
nav{
	margin-bottom: 0px;
	display:block;
}

nav>ul>li {
	background-color: var(--menu-col);
}

#search-menu {
	display:flex;
	padding-top:1em;
	padding-bottom:1em;
	align-items: center;
}

#search-menu input {
	flex:1;
	border-radius:50px;
	padding-left:10px;
	padding-right:5px;
	border:0px;
	margin-left:2%;
	min-width: 1px;
	opacity: 0.9;
}

#submit-search {
	margin-right:2%;
	margin-left:2%;
	border:0px;
	width:10%;
    border-radius: 5px;
    background-color:var(--menu-col);
}

#menu {
    position:fixed;
	display:none;
	list-style-type: none;
	opacity: 1;
	padding:0px;
	/* margin-left:15px; */
	width:80%;
	max-width:600px;
	max-height:82vh;
    overflow:scroll;
    z-index:10;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.item {
	border :0px;
	background-color:var(--menu-col);
	width:100%;
	color:#05bdff;
	text-align: left;
	padding-top:5px;
	padding-bottom:5px;
	border-top: 1px solid var(--electric-blue);
}

.item:hover {
	background-color: lightblue;
}

.item:active span{
	position: relative;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
}

.menu.sub {
	display:none;
	list-style-type: none;
	background-color: var(--electric-blue);
	opacity: 1;
	padding:0px;
	color:var(--menu-col);
}

.menu.sub li {
	border-top: 1px solid var(--menu-col);
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5%;
}

.menu.sub.sub2 {
    background-color: #555;
    padding:0px;
    color:#BB0;
}

.menu.sub.sub2>li {
    padding-left: 10%;
}
/*********************END MENU*********************/



/*********************FLOOR CHOICE*********************/
#floor_choice {
    position:fixed;
    top:9vh;
    right:8px;
    background-color: var(--menu-col);
    color: var(--electric-blue);
    border-radius: 5px;
}

#floor_choice>div{
    text-align: right;
    width:100%;
    /* border:1px solid black; */
    padding-right:4px;
    padding-left:4px;
    width:auto;
}

#floor_choice label {
    padding:0;
    margin:0;
    /* border:1px solid black; */
}

#floor_choice input {

    /* border:1px solid black; */
}
/*********************FLOOR CHOICE*********************/



/*********************MAP*********************/
section {
    position : absolute;
    top:8vh;
    overflow:scroll;
    width:100%;
    height:100%;
    background-color:rgb(140, 170, 116);
}

#map {
	width:100%;
    height:100%;
    background-color:rgb(140, 170, 116);
}
/*********************END MAP*********************/




/*********************FOOTER*********************/
footer {
    /* display:none; */
    position : fixed;
    bottom:0px;
    width:100%;
    /* position:fixed; */
    /* border:1px solid black; */
    padding:0;
}

#name {
    display:flex;
    align-items: center;
    text-align: center;
    color: var(--electric-blue);
    background-color: var(--menu-col);
    font-weight: bold;
    /* border:1px solid black; */

}

#name>h2 {
    flex:1;
    /* z-index:2; */
    /* border:1px solid black; */
    font-size: 1em;
    margin:0px 0px 0px 1em;
    padding-left : 1vw;
}

#name>svg {
    /* border:1px solid black; */
    /* position : relative; */
    /* z-index:1; */
    margin-right:1vw;
    right:0px;
    -moz-transition:all 250ms ease-out;
    -webkit-transition:all 250ms ease-out;
    -o-transition:all 250ms ease-out;
    transition:all 250ms ease-out;
}

#info {
    /* border:1px solid black; */
    display:none;
    background-color: var(--bg-col);
    color: var(--menu-col);
    margin:0;
    padding: 0px 5px 5px 5px;
}

#info ul {
	list-style-type:none;
}

/*********************END FOOTER*********************/



/*********************ZOOM*********************/
#zoom-btn {
    position : fixed;
    right:8px;
    /* padding-bottom: 300px; */
    bottom: 27px;
}

#zoom-btn button {
    display:block;
    width:36px;
    height:36px;
    background-color:var(--menu-col);
    color: var(--electric-blue);
    font-weight: bolder;
}

#zoom-in {
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border:0px;
    border-bottom:1px solid var(--electric-blue);
    /* padding-bottom:1px; */
}

#zoom-out {
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border:0px;
}

/*********************END ZOOM*********************/
