header
{
    display:flex;
    justify-content:space-around;
}

header h1
{
        /* margin: auto; */
    text-align:center;
}

.menubutton
{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

form
{
    border: 1px solid black;
}

input
{
    margin:auto;
    border:1px solid black;
}

nav
{
    display: none;
}

nav:active
{
    display: block;
}

footer
{
    background-color: #BBB;
}

body
{
	background-color: DarkSlateGrey;
	opacity: 1;
} 


.flottant
{
	float: center;
}

.contact
{
	text-align: center;
}

.btn-group
{
	background: url("images/logo.svg") fixed no-repeat center;
	opacity: 0.7;
	color: #AAFFAA;
}

img 
{
	padding: 0px 0px 0px 0px;
	margin: 30px 0px 0px 0px;
}


.container
{
	background: url("images/logo.svg") no-repeat center;
	color: DarkSlateGrey;
}

.form-control 
{
	margin: 0px 10px 0px 10px;
}

.btn
{
	margin-left: 40px;
	margin-right: 14px;
	margin-top: 50px;
}


