{
	font-family: Verdana, Impact;
}


p + ol
{
	text-align: justify;
	color: #FFFFFF;
	background-color: rgba(78, 219, 36, 0.5);
	font-size: 1em;
}

h1
{
	text-align: center;
	font-size: 6em;
	color: WhiteSmoke;
	font-family: Verdana, Impact;
	padding: 0.01em 0px 10px 0px
	
}

h2
{
	text-align: center;
	font-size: 1.2em;
}

h6
{
	text-align: center;
	font-size: 1.1em;
}

p
{
	text-align: justify;
}


body
{
	background-color: DarkSlateGrey;
	opacity: 1;
} 

nav
{
	border: 3px #AAAAAA outset;
	border-radius: 8px;
	box-shadow: 5px 5px 10px #AAAAA0 ;
	text-align: center;
	width: 40%;
	height: 20%;
	background: url("images/logo_pet.jpg") no-repeat center;
	padding: 0.1px 0px 10px 0px;
	margin: 0px 0px 100% 60%;
	overflow: auto;
}

